header {
  height: 65px;
}

a { text-decoration: none; }

.App {
  text-align: center;
  height: 100vh;
}

.App-body {
  display: flex;
  justify-content: center;
  padding: 0 80px;
  height: calc(100% - 65px);
  align-items: center;
}

.Megashop {
  margin: 20px;
}

.Centered {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  margin-top: 6px;
}

.App-logo-container {
  display: flex;
  justify-content: flex-start;
}

.login-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
