header {
  height: 65px;
}

a { text-decoration: none; }

.Accordion-container {
  width: 75%;
  margin: auto;
  padding-top: 100px;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-body {
  display: flex;
  justify-content: center;
  padding: 0 80px;
  height: calc(100% - 65px);
  align-items: center;
}
.space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col-1 {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
}
.values {
  margin-right: 15px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-15 {
  margin-right: 15px!important;
}
.update-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Megashop {
  margin: 20px;
}

.greeting-containers {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Centered {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  margin-top: 6px;
}

.App-logo-container {
  display: flex;
  justify-content: flex-start;
}

.login-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
